<p>
	Welcome to Chess HQ! We're happy you want to improve your chess with us. Try out some of these tasks to get started:
	<ul>
		<li><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/repertoires/" target="_blank" style="color: #059669;">Create a repertoire</a> to begin studying every opening line you want to learn</li>
		<li><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/openings-explorer/" target="_blank" style="color: #059669;">Explore 3,367 openings</a> to find one that suits your style</li>
		<li><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/game-database/" target="_blank" style="color: #059669;">Create a collection</a> of personal and master games</li>
		<li><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/game-database/" target="_blank" style="color: #059669;">Explore our database</a> of over 5 million master-level games</li>
	</ul>
</p>
<p>
	Chess HQ's main study tool is our spaced repetition system for memorizing openings. When you create a repertoire, you can begin studying each line of your opening. A few hours later, we will prepare a quiz for you to review what you learned. If you play the correct moves, the time until the next quiz is longer. If you play an incorrect move, you'll see the position again sooner. The increasing intervals between quizzes is a proven way to reinforce memorization and help you recall anything you want to remember.
</p>
<p>
	<strong><a href="<%= ENV["REACT_APP_PUBLIC_URL"] %>/upgrade/" target="_blank" style="color: #059669;">Upgrade your account</a></strong> with these features starting from only $2.99 per month:
	<ul>
		<li>Increased repertoire positions</li>
		<li>30+ move depth in opening database</li>
		<li>Copy more public repertoires</li>
		<li>Create 100+ collections with 1,000+ games per collection</li>
		<li>Save master games to collections</li>
		<li>Search for master games by player name(s) and exact date</li>
		<li>Download master games as PGN files</li>
	</ul>
</p>