<!DOCTYPE html>
<html>
  <head>
    <title>Srschess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/stockfish/stockfish.js"></script>
    <script>
      Stockfish().then((sf) => {
        sf.addMessageListener((line) => {
          console.log(line);
        });

        sf.postMessage("uci");
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
